.zed2_system_env/
# Virtual environments
.zed2_complete_env/
.pan_tilt_env/
venv/
env/
*=*
tracking_performance_*.csv
logs/experiment_*/*.json
logs/experiment_*/tracking_data.log


src/*.cpython-312.pyc
src/__pycache__/*.cpython-312.pyc
